<h1 class="text-center"><%= @list.name %></h1>

<%# <%= link_to "add a movie", new_list_bookmark_path, class: "btn btn-primary" %>



<% @list.movies.each do |movie|  %>

<div class="card" style="width: 18rem;" >
<% bookmark = Bookmark.find_by(list: @list, movie: movie) %>

  <img class="card-img-top" src="<%=movie.poster_url%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="text-center" class="card-title"><%= link_to movie.title, movie_path(movie) %></h5>
<p><%= bookmark.comment  %>   </p>
  </div>
</div>
<%end%>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class:"btn btn-primary"  %>
<% end %>
